/* 	
	This is the CSS we use in our HTML
	To include it we add this to our header
	<link rel="stylesheet" type="text/css" href="/CSS/myCSS.css">
	
	Keep in mind that the sequence is important.
	e.g. tr:hover is last in the tr sequence because it should always overwrite.
*/

	/* CSS for the body of the webpages START*/	
	/* CSS for the body of the webpages END*/
	
	/* CSS for the headings of the webpages START*/

	/* CSS for the headings of the webpages END*/
	
	/* CSS for all the textarea input START */
textarea{background-color: white;}

textarea:hover{background-color: #f2f2f2;}

textarea:focus{
	background-color: black;
	color: white;
}
textarea[disabled]{background-color: #EBEBE4;}
	/* CSS for all the textarea input END */

	/* CSS for all the non-textfield input text START */
input[type=text]{background-color: white;}

input[type=text]:hover{background-color: #f2f2f2;}

input[type=text]:focus{
	background-color: black;
	color: white;
}
input[type=text][disabled]{background-color: #EBEBE4;}

input[type=password]{background-color: white;}

input[type=password]:hover{background-color: #f2f2f2;}

input[type=password]:focus{
	background-color: black;
	color: white;
}
input[type=password][disabled]{background-color: #EBEBE4;}
	/* CSS for all the non-textfield input text END */
	
	/* CSS for all the number inputs START */
input[type=number]{background-color: white;}

input[type=number]:hover{background-color: #f2f2f2;}

input[type=number]:focus{
	background-color: black;
	color: white;
}
input[type=number][disabled]{background-color: #EBEBE4;}

	/* CSS for all the number inputs input text END */	

	/* CSS for all the submit buttons START */
input[type=submit]:hover{box-shadow: 2px 2px 2px #888888;}
input[type=submit][disabled]:hover{box-shadow: none;}
	/* CSS for all the submit buttons END */
input{
	display: inline-block;
	float: left;
}
textarea{
	display: inline-block;
	float: left;	
}
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 80px;
    text-align: left;
}

select{
    display: inline-block;
    float: left;	
}

select:hover{background-color: #f2f2f2;}

span{
	display:inline-block;
	float: left;
}
	/* CSS for all the fieldsets START */	
fieldset {
	position: relative;
	display: inline-block; /* Only makes the formfield as wide as the content */
}
	/* CSS for all the fieldsets END */
	
	/* CSS for all the tables START */
table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

table tr {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}
table tr:nth-of-type(even) {background-color: #f2f2f2;}
table tr:nth-of-type(odd) {background-color: white;}

table tr.LoggedInUserBooking { /* Special CSS for viewing rows with this class*/
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	background-color: #75E4D7;
}
			
table tr:hover{background-color:#DBEAE8;}
						
table th {
	padding: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
	border: 1px solid #ddd;
}

table td {
	padding: 8px;
	text-align: left;
	border: 1px solid #ddd;
}

table caption {
	padding: 8px;
	font-size: 300%;
}
	/* CSS for all the tables END */
	
	/* CSS for all divs START */
	/* CSS for all divs END */
	
/*CSS CLASSES START*/

	/* CSS used to warn the user error/feedback START*/
.feedback{
	white-space: pre-wrap;
	font-size: 120%;
}	
	
.warning{color: red;}

.fillOut{
	border-style: groove;
	border-width: 2px;
	border-bottom-color: red;
}
	/* CSS used to warn the user error/feedback END*/
	
	/* CSS used to alter a selected item/text START*/
.highlight{
	color: green;
	font-size: 120%;
}
	/* CSS used to alter a selected item/text END*/

	/* CSS used to make sure labels used with textfields look correct START*/
.description {vertical-align: top;}
	/* CSS used to make sure labels used with textfields look correct END*/
	
	/* CSS used to position DIVs START
		TO-DO: These are badly implemented
		Should just replace this with bootstrap
	example: 	
	<div class="container">
		<div class="left"></div>
		<div class="innerWrap">
			<div class="right"></div>
			<div class="middle"></div>
		</div>
	</div>
	*/
.container{
	position: static;
}
.innerWrap{ /* For middle and right at once*/
	overflow: hidden;
}
.bottomLeft {
	position: absolute; 
	left: 10px;
	bottom: 10px;
}	
.bottomRight {
	position: absolute; 
	right: 10px; 
	bottom: 10px;	
}
.left{
	clear: both;
	float: left;
}
.middle{
	
}
.right{
	float: right;
}
	/* CSS used to position DIVs END*/

	/* CSS used to fix NAV positions START*/
.topnav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.topnav li{
	float:left;
}

.topnav li a,li b {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav li a:hover:not(.active) {
    background-color: #111;
}

.topnav .active {
    background-color: #4CAF50;
}

.fieldsetIndentReplication {
	position: relative;
	left: 15px;
}
	/* CSS used to fix NAV positions END*/
/*CSS CLASSES END*/